@media (max-width: 1480px) {
    .page__main-h1 {
        font-size: 50px;
        line-height: 75px;
    }

    .section-banner {
        &__desc {
            width: 50%;

            &-txt:last-child {
                display: none;
            }
        }
    }

    .section-size {
        &__txt {
            grid-template-columns: 1fr;
            grid-template-areas:
                "top"
                "middle"
                "bottom";

            &-desc:first-child {
                grid-area: top;
            }

            &-desc:last-child {
                grid-area: middle;
            }

            &-picture {
                grid-area: bottom;
            }
        }
    }
}

@media (min-width: 1200px) {
    .header.header_fixed .header__sticky-phones {
        flex-direction: column;
    }
}

@media (max-width: 1199px) {
    .page__main {
        margin-top: 75px;
    }


    .page__main-h1 {
        margin-top: 25px;
    }

    .section-banner {
        margin-bottom: 50px;

        &__desc {
            &-txt:nth-child(2) {
                display: none;
            }
        }
    }

    .section-advantages {
        margin-bottom: 50px;
    }

    .section-size {
        margin-bottom: 50px;

        &__in {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            row-gap: 25px;
        }

        &__txt {
            margin-bottom: 50px;

            &-picture {
                & img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &__card.ui-widget {
            justify-self: center;
            width: 560px;
        }
    }
}

@media (max-width: 991px) {
    .breadcrumbs {
        margin-bottom: 15px;
    }

    .page__main-h1 {
        font-size: 35px;
        line-height: 50px;
    }

    .section-banner {
        &__desc {
            width: 100%;
            top: inherit;
            bottom: 0;
            left: 0;
            padding: 50px 50px 5% 50px;
        }

        &__button {
            margin-top: 0;
        }
    }

    .section-advantages {
        &__h2 {
            text-align: center;
            font-size: 22px;
            line-height: 29px;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            column-gap: 10px;
            row-gap: 15px;
        }

        &__item {
            width: 100%;
        }

        &__txt {
            font-size: 13px;
        }
    }

    .section-size {
        &__tabs {
            display: grid;
        }

        &__h2 {
            font-size: 22px;
            line-height: 29px;
        }

        &__h3 {
            font-size: 15px;
        }

        &__h4 {
            font-size: 16px;
        }

        &__txt-desc {
            font-size: 15px;
        }
    }

    .ui-accordion .ui-accordion-header {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .section-banner {
        &__desc {

            &-txt {
                display: none;
            }
        }
    }

    .section-advantages {
        &__h2 {
            font-size: 27px;
            line-height: 36px;
        }

        &__txt {
            text-align: center;
            font-size: 16px;
        }

        &__icon {
            width: 80px;
            height: 80px;
        }

        &__list {
            grid-template-columns: 1fr;
        }
    }

    .section-size {
        &__h2 {
            font-size: 27px;
            line-height: 36px;
        }

        &__sublist {
            grid-template-columns: 50%;
            row-gap: 15px;
        }
    }
}

@media (max-width: 580px) {
    .section-size {
        &__card.ui-widget {
            max-width: inherit;
            width: 100%;
        }

        &__sublist {
            grid-template-columns: 75%;
        }
    }
}