/* all */
ul {
  list-style: none;
}

.page__main-h1 {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "Roboto Slab", serif;
  font-size: 72px;
  line-height: 95px;
  font-weight: 400;
  color: #415464;
}

/* header */
.header {
  margin-bottom: 34px;
}
.header__container {
  align-items: center;
}
.header__contacts {
  align-items: flex-start;
}
.header__contacts-icon {
  width: 18px;
  height: 18px;
}
.header__contacts-item:hover .icon-whats-app {
  color: #C04152;
}

.icon-whats-app {
  color: #25D366;
  transition: color ease-in-out 0.5s;
}

.page__main > .container:first-child {
  padding-top: 0;
}

.breadcrumbs {
  margin-bottom: 12px;
}

/* section-banner */
.section-banner {
  margin-bottom: 84px;
}
.section-banner__wrap {
  position: relative;
}
.section-banner__picture {
  position: relative;
  display: block;
  width: auto;
  height: 100%;
}
.section-banner__desc {
  position: absolute;
  width: 30%;
  top: 57px;
  left: 80px;
  font-family: "Montserrat", arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #202A32;
}
.section-banner__desc-txt:nth-child(2) {
  margin-bottom: 13px;
}
.section-banner__button {
  margin-top: 0;
  padding: 15px 56px;
}

/* section-advantages */
.section-advantages {
  margin-bottom: 81px;
  padding-top: 41px;
  padding-bottom: 39px;
}
.section-advantages__h2 {
  margin: 0 0 40px 0;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  color: #202A32;
}
.section-advantages__list {
  margin: 0;
}
.section-advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 200px) / 6);
  padding: 0;
}
.section-advantages__icon {
  width: 90px;
  height: 90px;
  margin: 0 0 20px 0;
}
.section-advantages__txt {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #202A32;
}

/* section-size */
.section-size__h2 {
  margin: 0 0 39px 0;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  color: #202A32;
}
.section-size__tabs {
  margin-bottom: 40px;
  padding: 0;
}
.section-size__item {
  display: inline-block;
  margin: 0 27px 0 0;
  padding: 15px 20px;
  cursor: pointer;
}
.section-size__active {
  background-color: #E0E7EE;
}
.section-size__h3 {
  margin: 0;
  font-family: "Montserrat", arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #202A32;
  text-transform: uppercase;
}
.section-size__desc {
  display: none;
  padding-left: 0;
}
.section-size__desc-active {
  display: block;
}
.section-size__desc-ul {
  padding: 0;
}
.section-size__in {
  display: grid;
  grid-template-columns: 1fr minmax(560px, auto);
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.section-size__card-h3 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #415464;
}
.section-size__card-h3.ui-state-active {
  color: #415464;
  border: none;
  background-color: transparent;
}
.section-size__card-h3.ui-state-active .ui-icon {
  margin-bottom: -8px;
  background-image: none;
  transform: rotate(-45deg);
}
.section-size__card.ui-widget {
  max-width: 560px;
  padding: 30px 30px 24px 40px;
}
.section-size__type {
  margin-bottom: 36px;
}
.section-size__table {
  margin-bottom: 30px;
  border-collapse: collapse;
  word-break: break-word;
}
.section-size__table td {
  padding: 5px 26px 4px 13px;
  font-family: "Montserrat", arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #415464;
  border: 1px solid #D9D9D9;
}
.section-size__table td:last-child {
  text-align: center;
  padding: 5px 7px 4px 9px;
}
.section-size__button {
  padding: 16px 26px 14px 27px;
  font-family: "Montserrat", arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #FFFFFF;
}
.section-size__items {
  padding: 0;
}
.section-size__sublist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 20px;
  padding: 0;
}
.section-size__sublist-wrap {
  margin-top: auto;
}
.section-size__sublist-heading {
  margin-bottom: 10px;
  font-family: "Montserrat", arial, sans-serif;
  font-size: 17px;
  line-height: 26px;
  font-weight: 600;
  color: #202A32;
}
.section-size__sublist-name {
  margin-bottom: 1px;
  font-family: "Montserrat", arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #202A32;
  opacity: 0.7;
}
.section-size__sublist-desc {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #202A32;
}
.section-size__sublist-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 0;
  padding: 15px 20px 20px 20px;
  border: 1px solid rgba(98, 107, 115, 0.3);
}
.section-size__items {
  margin-bottom: 49px;
}
.section-size__h4 {
  position: relative;
  margin: 0 0 12px 0;
  padding-left: 16px;
  font-family: "Montserrat", arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #202A32;
}
.section-size__h4:before {
  position: absolute;
  content: "";
  left: 0;
  top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B11227;
}
.section-size__txt {
  display: grid;
  grid-template-columns: 1fr minmax(800px, auto);
  grid-template-rows: min-content 1fr;
  grid-template-areas: "top right" "bottom right";
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-bottom: 80px;
}
.section-size__txt-desc {
  margin: 0 0 20px 0;
  font-family: "Montserrat", arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #202A32;
}
.section-size__txt-picture {
  grid-area: right;
}

/* accordion */
.ui-widget {
  background-color: #EFF0F1;
}
.ui-widget-content a {
  color: #FFFFFF;
}
.ui-widget-content {
  border: none;
  background-color: transparent;
}
.ui-icon {
  margin: 0;
  width: 10px;
  height: 10px;
  border-top: 1px solid #B11227;
  border-right: 1px solid #B11227;
  background-image: none;
  transform: rotate(135deg);
}
.ui-state-default {
  border: none;
  background-color: transparent;
}
.ui-accordion .ui-accordion-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 24px;
}
.ui-accordion .ui-accordion-content {
  padding: 0;
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
  background-image: none;
}

/* feedback */
@media (max-width: 1480px) {
  .page__main-h1 {
    font-size: 50px;
    line-height: 75px;
  }
  .section-banner__desc {
    width: 50%;
  }
  .section-banner__desc-txt:last-child {
    display: none;
  }
  .section-size__txt {
    grid-template-columns: 1fr;
    grid-template-areas: "top" "middle" "bottom";
  }
  .section-size__txt-desc:first-child {
    grid-area: top;
  }
  .section-size__txt-desc:last-child {
    grid-area: middle;
  }
  .section-size__txt-picture {
    grid-area: bottom;
  }
}
@media (min-width: 1200px) {
  .header.header_fixed .header__sticky-phones {
    flex-direction: column;
  }
}
@media (max-width: 1199px) {
  .page__main {
    margin-top: 75px;
  }
  .page__main-h1 {
    margin-top: 25px;
  }
  .section-banner {
    margin-bottom: 50px;
  }
  .section-banner__desc-txt:nth-child(2) {
    display: none;
  }
  .section-advantages {
    margin-bottom: 50px;
  }
  .section-size {
    margin-bottom: 50px;
  }
  .section-size__in {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 25px;
  }
  .section-size__txt {
    margin-bottom: 50px;
  }
  .section-size__txt-picture img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-size__card.ui-widget {
    justify-self: center;
    width: 560px;
  }
}
@media (max-width: 991px) {
  .breadcrumbs {
    margin-bottom: 15px;
  }
  .page__main-h1 {
    font-size: 35px;
    line-height: 50px;
  }
  .section-banner__desc {
    width: 100%;
    top: inherit;
    bottom: 0;
    left: 0;
    padding: 50px 50px 5% 50px;
  }
  .section-banner__button {
    margin-top: 0;
  }
  .section-advantages__h2 {
    text-align: center;
    font-size: 22px;
    line-height: 29px;
  }
  .section-advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 15px;
  }
  .section-advantages__item {
    width: 100%;
  }
  .section-advantages__txt {
    font-size: 13px;
  }
  .section-size__tabs {
    display: grid;
  }
  .section-size__h2 {
    font-size: 22px;
    line-height: 29px;
  }
  .section-size__h3 {
    font-size: 15px;
  }
  .section-size__h4 {
    font-size: 16px;
  }
  .section-size__txt-desc {
    font-size: 15px;
  }
  .ui-accordion .ui-accordion-header {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .section-banner__desc-txt {
    display: none;
  }
  .section-advantages__h2 {
    font-size: 27px;
    line-height: 36px;
  }
  .section-advantages__txt {
    text-align: center;
    font-size: 16px;
  }
  .section-advantages__icon {
    width: 80px;
    height: 80px;
  }
  .section-advantages__list {
    grid-template-columns: 1fr;
  }
  .section-size__h2 {
    font-size: 27px;
    line-height: 36px;
  }
  .section-size__sublist {
    grid-template-columns: 50%;
    row-gap: 15px;
  }
}
@media (max-width: 580px) {
  .section-size__card.ui-widget {
    max-width: inherit;
    width: 100%;
  }
  .section-size__sublist {
    grid-template-columns: 75%;
  }
}/*# sourceMappingURL=test_update.css.map */